#!/bin/bash

set -e

. /usr/share/debconf/confmodule
db_capb backup

CONFFILE=/etc/default/debsecan
CRONFILE=/etc/cron.d/debsecan

normalize_suite () {
    case "$SUITE" in
	wheezy|jessie|stretch|buster|sid)
	    ;;
	*)
	    SUITE=GENERIC
	    ;;
    esac
}

read_existing_configuration () {
    if test -r "$CONFFILE" ; then
	. "$CONFFILE" || true
	normalize_suite
	if test ! -z "$REPORT" ; then
	    db_set debsecan/report "$REPORT"
	fi
	if test -z "$MAILTO" ; then
	    db_set debsecan/mailto root
	else
	    db_set debsecan/mailto "$MAILTO"
	fi
	for var in SUITE SOURCE ; do
	    db_set debsecan/$(echo $var | tr A-Z a-z) ${!var}
	done
    fi
}

read_existing_configuration

maybe_input () {
    db_get debsecan/report
    if test "$RET" = true ; then
	db_input "$@" || true
    fi
}

STATE=1
while true; do
    case "$STATE" in
	1)
	    db_input medium debsecan/suite || true
	    ;;
	2)
	    db_input low debsecan/report || true
	    ;;
	3)
	    db_get debsecan/report
	    maybe_input low debsecan/mailto || true
	    ;;
	4)
	    db_get debsecan/report
	    db_input low debsecan/source || true
	    ;;
	*)
	    break
	    ;;
    esac

    if db_go; then
	STATE=$(($STATE + 1))
    else
	STATE=$(($STATE - 1))
    fi
done

if test $STATE -eq 1 ; then
    exit 10
fi
